<!DOCTYPE html>
<html>
<head>
  <title>Yum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
	<%if signed_in?%>
	<ul>
		<li>Add Friend</li>
		<li>New Recommendation</li>
		<%= link_to '/users/logout', method: :post do %>
      <li>Logout</li>
    <% end %>
	</ul>
	<%end%>
</nav>


<%= yield %>

</body>
</html>
